.Distributors {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.filterbar {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 27px;
}

.filterbar button {
  margin-left: auto;
}

.distributorLink {
  color: var(--black);
}
