

.DistributorProfile {
  margin-bottom: 180px
  
}

.undo {
  margin-top: 74px;
  
}

.heading {
  margin-top: 24px;
}

.mainSection {
  margin-top: 41px; 
}

.photo{
  margin-right: 30px;
}



.infoRows {
  
  display: flex;
  flex-direction: row; /* Изменено с column на row */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  
  
}

.info1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
 
}

.info2 {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-left: 40px; 
  margin-right: 35px;
  
}



.button{
  display: flex;
  margin-top: -15px;
  gap: 21px;
  
}

.infoBlock {
  display: flex;
  justify-content: start;
  margin-bottom: 50px;
  
}



.infoRowLabel {
  margin-right: 1ch;
  font-weight: 600;
}

.actions {
  margin-top: 16px;
  display: flex;
  gap: 20px;
}



.filterbar {
  width: 100%; 
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  

  & input[type="search"] {
    min-width: 453px;
  }

  & input,
  & select {
    height: 40px;
    border-radius: 12px;
    border: 1px solid var(--stroke, #e7e8e7);
    background: #efefef;
    padding-inline: 15px;
    
  }
  & select {
    min-width: 170px;
  }
}

.filterbarDate {

  display: flex;
  align-items: center;
  gap: 1ch;
  font-size: 15px;
  font-weight: 400;
}

.dateContainer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.selectDate{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.filterbar{
  margin-bottom: 30px;
  display: flex;
}

.nav {
  margin-top: 73px;
  

  & span {
    margin-left: auto;
    padding-inline: 39px;
    height: 49px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #efefef;
  }
}
