.DistributorProfile {
  margin-bottom: 180px;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 20px;
}

.filterbar {
  margin-block: 30px;
  display: flex;
  align-items: center;
  gap: 20px;

  & input,
  & select {
    height: 44px;
    border-radius: 12px;
    border: 1px solid var(--stroke, #e7e8e7);
    background: #efefef;
    padding-inline: 15px;
  }
  & select {
    min-width: 170px;
  }
}

.select {
  flex: 0 1 170px;
}

.dateLabel {
  font-size: 15px;
  font-weight: 400;
}

.startDateLabel {
  margin-left: auto;
}
