.TransactionSection {
  max-width: 50vw;
  min-height: 70vh;
  /* width: 100%; */
  border: 2px solid var(--black-80);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
