.twoButtons {
  display: flex;
  gap: 18px;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.total {
  margin-left: auto;
  padding-inline: 39px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #efefef;
  font-size: 13px;
}
