.controlContainer {
  display: flex;
  gap: 18px;
}

.total {
  margin-right: 50px;
  padding-inline: 39px;
  height: var(--input-height, 40px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #efefef;
  font-size: 13px;
}
