.PageHeading {
  margin-top: 74px;
  margin-bottom: 51px;
}

.goBack {
  /* text-decoration: none; */
  padding-block: 2px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--main-color, #3ba1ff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.28px;
}

.goBack:hover {
  padding-inline: 5px;
  background-color: var(--main-color, #3ba1ff);
  color: #fff;
  font-weight: 600;
}

.heading {
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.68px;
}
