.EditProduct {
  padding-bottom: 192px;
}

.narrowContainer {
  max-width: 920px;
  margin-inline: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 34px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.fileInput {
  width: 163px;
  height: 133px;
  border: 1px dashed var(--main-color, #3ba1ff);
  color: var(--main-color, #3ba1ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.formFlexRow, .formFlexRowTop, .formBottom {
  border: none;
  display: flex;
  gap: 29px;
}

.formInput input {
  width: 140px; 
}

.measurementCategoryContainer .formDropdown select {
  width: 263px;
}

.formButtonRow {
  margin-top: 32px;
}

.formBottom {
  border: none; 
}

.measurementCategoryContainer .formDropdown .category_dropdown_select {
  width: 263px;
}

.selection {
  display: flex;
  flex-direction: column; /* Adjust the direction */
  gap: 10px;
}

.frame {
  display: flex;
  align-items: center;
  gap: 5px;
}


.radio {
  width: 24px;
  height: 24px;
  background-color: white;  
  position: relative;
  margin-right: 10px;
}

.radio:checked {
  background-color: #3ba1ff;
}

.radioButtonGroup {
  display: flex;
  flex-direction: row;
  margin-top: 9px;
  align-items: center;
  gap: 40px;
}

.radio:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #3ba1ff;  
  border-radius: 50%;
}

.radioLabel {
  margin-left: 5px;
}



.formButtonRow {
  composes: formFlexRow;
  margin-top: 32px;
}

.formInput {
  flex-grow: 1;

  & p {
    margin-bottom: 10px;
  }

  & input {
    width: 100%;
    height: 44px;
    padding-inline: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--stroke, #e7e8e7);
    background: rgba(241, 241, 241, 0.6);
  }
}

.measurementCategoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.formDropdown {
  flex: 1;
  width: 60%;  /* Maintain the original width setting */
  
  & p {
    margin-bottom: 10px;
  }

  & select {
    width: 100%;
    height: 44px;
    padding-inline: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--stroke, #e7e8e7);
    background: rgba(241, 241, 241, 0.6);
  }
}

.measurementCategoryContainer .formDropdown .category_dropdown_select {
  width: 265px;  /* Maintain the original width for category dropdown */
}
.saveButton {
  width: 265px;
  height: 49px;
  background: #3ba1ff;
  border-radius: 10px;
}

.remove {
  border-radius: 10px;
  width: 141px;
  height: 49px;
}

