.EditProduct {
  padding-bottom: 16px;
  isolation: isolate;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 34px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.formFlexRow {
  border: none;
  display: flex;
  gap: 29px;
}

.formButtonRow {
  margin-top: 32px;
}

.formInput {
  flex-grow: 1;
}

.wideFormInput {
  flex: 0 0 263px;
}

.formInput p {
  margin-bottom: 10px;
}

.formInput input,
.formInput select {
  width: 100%;
  height: 44px;
  padding-inline: 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--stroke, #e7e8e7);
  background-color: var(--input-gray, #f6f6f6);
}

.radioButtonGroup {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 10px;

  &:has(input:disabled) {
    color: gray;
  }
}

.radioLabel .radioButton {
  width: 20px;
  height: 20px;
  background-color: white;
  position: relative;
}

.unitSelectInput {
  z-index: 2;
}

.categorySelectInput {
  z-index: 1;
}
