.QuantityController {
  display: flex;
  align-items: center;
  margin-block: -2px;
}

.inputWrapper {
  flex: 1 1 40px;
}

.input {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--button-inactive-gray);
}

.input:hover {
  border: 1px solid var(--button-inactive-text-gray);
}

.controls {
  display: flex;
  flex-direction: column;
  margin-block: -10px;
  margin-right: -5px;
}

.arrowButton {
  background-color: transparent;
  padding-inline: 5px;
  border: none;
  border-radius: 3px;
  border: 1px solid transparent;
}

.arrowButton:first-of-type img {
  margin-bottom: -2px;
}

.arrowButton:last-of-type img {
  margin-top: -2px;
}

.arrowButton:hover {
  background-color: var(--input-hover-gray);
  border-color: var(--button-inactive-text-gray);
}
