.CustomSelect {
  /* position: relative; */
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--E7E8E7, #e7e8e7);
  font-weight: 400;
  font-size: 13px;
  width: 170px;
  background-color: var(--EFEFEF, #efefef);
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.CustomSelect.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.CustomSelect.open .arrowIcon {
  transform: rotateX(180deg);
}

.selectedOption {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dropdown {
  height: 0;
  position: relative;
}

.optionContainer {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: var(--EFEFEF, #efefef);
  border: 1px solid var(--E7E8E7, #e7e8e7);
  display: none;
}

.optionContainer.open {
  display: block;
}

.option {
  height: 40px;
  display: flex;
  align-items: center;
  padding-inline: 15px;
}

.option:hover {
  background-color: #d1d1d1;
}

.radio {
  display: none;
}

/* .options-container {
  background: darkgrey;
  color: black;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
}

.selected {
  display: flex;
  gap: 10px;
  background: darkgray;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: black;
  position: relative;
  border-bottom: 1px solid silver;
  cursor: pointer;
}


.options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}
.selected.active::after {
  transform: rotateX(180deg);
  top: -6px;
}

.options-container::-webkit-scrollbar {
  background: darkgray;
  width: 0;
  border-radius: 0 8px 8px 0;
}

.options-container::-webkit-scrollbar-thumb {
  background: darkgray;
}

.option,
.selected {
  padding: 12px 24px;
}

.option:hover {
  background: gray;
}

.label {
  cursor: pointer;
}

.option .radio {
  display: none;
} */
