.CustomSelect {
  flex-grow: 1;
  flex-shrink: 0;
  height: 44px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 13px;
  background-color: var(--EFEFEF, #efefef);
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.CustomSelect.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.CustomSelect.open .arrowIcon {
  transform: rotateX(180deg);
}

.displayedOption {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-inline: 15px;
  border-radius: 10px;
}

.dropdown {
  height: 0;
  position: relative;
}

.optionContainer {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: var(--EFEFEF, #efefef);
  display: none;
}

.optionContainer.open {
  display: block;
}

.option {
  height: 40px;
  display: flex;
  align-items: center;
  padding-inline: 15px;
  border-top: 1px solid var(--E7E8E7, #bebebe);
  overflow: hidden;
}

.option:hover,
.displayedOption:hover {
  background-color: #d1d1d1;
}

.radio {
  display: none;
}
