.Button {
  display: inline-flex;
  height: 44px;
  padding-block: 8px;
  padding-inline: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--main-color, #3ba1ff);
  transition: box-shadow;
  outline: none;
  cursor: pointer;
}

.Button:hover,
.Button:focus-visible,
.Button:focus {
  /* font-weight: 500; */
  box-shadow: 0px 0px 12px 4px #d6d6d6;
}

.Button:active {
  box-shadow: 0px 0px 12px 4px #d6d6d6 inset;
}

.Button:disabled {
  background-color: #efefef;
  border: 1px solid #efefef;
  color: #666666;
  box-shadow: none;
  cursor: default;
}

.narrow {
  padding-inline: 12px;
}

.medium {
  padding-inline: 23px;
}

.wide {
  padding-inline: 39px;
}

.xwide {
  padding-inline: 86px;
}

.full {
  width: 100%;
}

.flex {
  flex-grow: 1;
}

.low {
  height: 35px;
}

.auth {
  height: 47px;
}

.primary {
  background-color: var(--main-color, #3ba1ff);
  color: white;
}

.secondary {
  background-color: transparent;
  color: var(--main-color, #3ba1ff);
}
