.Button {
  display: inline-flex;
  height: 44px;
  padding-block: 8px;
  padding-inline: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--main-color, #3ba1ff);
  transition: box-shadow;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.28px;
}

.Button:hover,
.Button:focus-visible,
.Button:focus {
  color: white;
  background-color: var(--blue-hover, #67bae5);
  border-color: var(--blue-hover, #67bae5);
}

.Button:active {
  color: white;
  background-color: var(--blue-click, #0085ff);
  border-color: var(--blue-click, #0085ff);
}

.primary {
  background-color: var(--main-color, #3ba1ff);
  color: white;
}

.secondary {
  background-color: transparent;
  color: var(--main-color, #3ba1ff);
}

.Button:disabled {
  background-color: var(--button-inactive-gray, #efefef);
  border: 1px solid var(--button-inactive-gray, #efefef);
  color: var(--button-inactive-text-gray, #848484);
  cursor: default;
}

.Button.secondary:disabled {
  background-color: white;
  border: 1px solid var(--button-inactive-text-gray, #848484);
  cursor: default;
}

.width100 {
  width: 100px;
}

.width140 {
  width: 140px;
}

.width200 {
  width: 200px;
}

.width265 {
  width: 265px;
}

.narrow {
  padding-inline: 12px;
}

.medium {
  padding-inline: 23px;
}

.wide {
  padding-inline: 39px;
}

.xwide {
  padding-inline: 86px;
}

.full {
  width: 100%;
}

.flex {
  flex-grow: 1;
}

.low {
  height: 35px;
  font-size: 13px;
}

.auth {
  height: 47px;
}
