.Header {
  border-bottom: 1px solid #e7e7e7;
  background: var(--white-white, #fff);
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 27px;
}

.logoWrapper {
  margin-right: auto;
}

.navLink {
  height: 75px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  font-size: 14px;
  font-weight: 500;
  color: var(--black, #000000cc);
}

.active {
  color: var(--main-color, #3ba1ff);
  border-bottom: 3px solid var(--main-color, #3ba1ff);
}
