.ModalBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  height: 100dvh;
  background-color: #0000002d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modalWindow {
  width: 334px;
  min-height: 207px;
  border-radius: 10px;
  border: 1px solid var(--E7E8E7, #e7e8e7);
  background: var(--white-white, #fff);
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message {
  color: var(--00000080, rgba(0, 0, 0, 0.8));
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.34px;
}

.buttonFlexContainer {
  margin-top: 1rem;
  display: flex;
  gap: 32px;
}

.buttonFlexContainer * {
  flex-grow: 1;
}
