.ButtonPrimary {
  display: inline-flex;
  height: 45px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--stroke, #e7e8e7);
  background: #3ba1ff;
}
