.CustomSearch {
  flex-grow: 1;
  flex-basis: 453px;
  z-index: 1;
}

.searchInput {
  height: var(--input-height, 44px);
  border-radius: var(--input-border-radius, 12px);
  border: none;
  background-color: var(--input-gray);
  padding-inline: 15px;
  width: 100%;
  padding-right: 37px;
  z-index: 2;
}

.inputIconContainer:hover .searchInput {
  background-color: var(--input-hover-gray);
}

.inputIconContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  z-index: 3;
}
