.filterbar {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 27px;
  font-size: 14px;
  z-index: 10;
}

.searchInput,
.select {
  height: 44px;
  border-radius: 12px;
  border: none;
  background: #efefef;
  padding-inline: 15px;
}

.searchInputContainer {
  flex-grow: 1;
  flex-basis: 453px;
  position: relative;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding-right: 37px;
}

.searchInputContainer:hover .searchInput {
  background-color: #d1d1d1;
}

.searchIcon {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.categorySelect {
  flex-basis: 170px;
}

.conditionSelect {
  flex-basis: 114px;
}
