.Warehouse {
  /* background: #fafafa; */
  padding-top: 20px;
  padding-bottom: 161px;
}

.filterbar {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 27px;

  & input[type="search"] {
    min-width: 453px;
    flex-grow: 1;
  }

  & input,
  & select {
    height: 40px;
    border-radius: 12px;
    border: 1px solid var(--stroke, #e7e8e7);
    background: #efefef;
    padding-inline: 15px;
  }
  & select {
    min-width: 170px;
  }
}
