.filterbar {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 27px;
  font-size: 13px;
}

.searchInput,
.select {
  height: 40px;
  border-radius: 12px;
  border: none;
  background: #efefef;
  padding-inline: 15px;
}

.select {
  min-width: 170px;
}

/* Стили для inputContainer */
.inputContainer {
  flex-grow: 1;
  flex-basis: 453px;
  position: relative;
  display: inline-block;
}

.searchInput {
  width: 100%;
  padding-right: 33px;
}

.searchInput:hover {
  background-color: #d1d1d1;
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
  /* cursor: pointer; */
}

.categorySelect {
  flex-basis: 170px;
}

.conditionSelect {
  flex-basis: 114px;
}
