/* временный шрифт */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;300;400;500;600;700&display=swap");
:root {
  font-family: "Rubik", sans-serif;
  --purple: #5050ff;
  --main-color: #3ba1ff;
  --black: #000000cc;
  --red: #b3261e;
}
* {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}
