.NotFound {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25vw;
  margin-top: 22vh;
  max-width: 361px;
}

.oops {
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
  color: var(--main-color);
}

.heading {
  margin-top: 4px;
  font-weight: 600;
  font-size: 44px;
  line-height: normal;
  letter-spacing: 0.88px;
  color: var(--black-80);
}

.description {
  margin-top: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-80);
}

.buttonLink {
  margin-top: 56px;
}

.button {
  width: 265px;
}
