.EditDistributor {
  padding-bottom: 192px;
}

.narrowContainer {
  max-width: 920px;
  margin-inline: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 34px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.fileInput {
  width: 163px;
  height: 133px;
  border: 1px dashed var(--main-color, #3ba1ff);
  color: var(--main-color, #3ba1ff);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.fileInput input[type="file"] {
  display: none;
}

.fileInput .getPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formFlexRow {
  border: none;
  display: flex;
  gap: 29px;
  width: 100%;
}

.phoneNumberRow {
  justify-content: start;
}

.formButtonRow {
  margin-top: 32px;
}

.formInput {
  flex-grow: 1;
}

.formInput p {
  margin-bottom: 10px;
}

.formInput input {
  height: 44px;
  padding-inline: 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--stroke, #e7e8e7);
  background: rgba(241, 241, 241, 0.6);
  width: 100%;
}

.addressInput {
  flex: 0 0 394px;
}

.innInput {
  flex: 0 0 309px;
}

.phoneInput {
  flex: 0 0 309px;
}

.phoneInput input {
  padding-left: 68px;
}

.inputContainer {
  position: relative;
}

.countryCode {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  pointer-events: none;
  border: 1px solid #e7e8e7;
  width: 60px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optional {
  color: var(--848484, #848484);
}
