.EditDistributor {
  /*  */
}

.narrowContainer {
  max-width: 920px;
  margin-inline: auto;
}

.form {
  /*  */
}

/* ------------------------------------ */
/* .form {
  width: 5px;
  margin: 0 auto;
  background-color: white;
  width: 920px;
  height: 840px;
} */

.saveButton {
  width: 265px;
  height: 49px;
  background: #3ba1ff;
  border-radius: 10px;
}

.remove {
  border-radius: 10px;
  width: 141px;
  height: 49px;
}

.qw {
  width: 394px;
}

.er {
  width: 183px;
}

.ty {
  width: 140px;
}

.ui {
  width: 309px;
}
