.EditDistributor {
  padding-bottom: 192px;
}

.narrowContainer {
  max-width: 920px;
  margin-inline: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 34px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.fileInput {
  width: 163px;
  height: 133px;
  border: 1px dashed var(--main-color, #3ba1ff);
  color: var(--main-color, #3ba1ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.formFlexRow {
  border: none;
  display: flex;
  gap: 29px;
}

.formButtonRow {
  composes: formFlexRow;
  margin-top: 32px;
}

.formInput {
  flex-grow: 1;

  & p {
    margin-bottom: 10px;
  }

  & input {
    width: 100%;
    height: 44px;
    padding-inline: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--stroke, #e7e8e7);
    background: rgba(241, 241, 241, 0.6);
  }
}
/* ------------------------------------ */
/* .form {
  width: 5px;
  margin: 0 auto;
  background-color: white;
  width: 920px;
  height: 840px;
} */

.saveButton {
  width: 265px;
  height: 49px;
  background: #3ba1ff;
  border-radius: 10px;
}

.remove {
  border-radius: 10px;
  width: 141px;
  height: 49px;
}

.qw {
  width: 394px;
}

.er {
  width: 183px;
}

.ty {
  width: 140px;
}

.ui {
  width: 309px;
}
