.EditDistributor {
  padding-bottom: 192px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 34px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.fileInput {
  width: 163px;
  height: 133px;
  border: 1px dashed var(--main-color, #3ba1ff);
  color: var(--main-color, #3ba1ff);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.fileInput:has(.picture) {
  border-color: transparent;
}

.fileInput input[type="file"] {
  display: none;
}

.fileInput .getPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gridContainer {
  display: grid;
  gap: 34px 29px;
  grid-template-columns: repeat(4, 1fr);
}

.single {
  grid-column: auto / span 1;
}

.double {
  grid-column: auto / span 2;
}

.full {
  grid-column: 1 / -1;
  display: flex;
  gap: 29px;
  justify-content: start;
  flex-wrap: wrap;
}

.buttons {
  margin-top: 38px;
  flex-wrap: wrap-reverse;
}

.phoneLabel {
  flex: 0 0 309px;
}

.phoneLabel input {
  padding-left: 68px;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.countryCode {
  position: absolute;
  left: 2px;
  pointer-events: none;
  border: 1px solid #e7e8e7;
  width: 60px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optional {
  color: var(--848484, #848484);
}

@media (max-width: 1000px) {
  .single {
    grid-column: auto / span 2;
  }
}

@media (max-width: 650px) {
  .single,
  .double {
    grid-column: auto / span 4;
  }
  .phoneLabel {
    flex: 1 1 309px;
  }
  .buttons button {
    width: 100%;
  }
}
